<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <link rel="icon" type="image/png" href="<%= require('./images/favicon-32x32.png') %>" sizes="32x32">
    <link rel="icon" type="image/png" href="<%= require('./images/favicon-194x194.png') %>" sizes="194x194">
    <link rel="icon" type="image/png" href="<%= require('./images/favicon-96x96.png') %>" sizes="96x96">
    <link rel="icon" type="image/png" href="<%= require('./images/favicon-16x16.png') %>" sizes="16x16">
    <link rel="stylesheet" href="<%= require('./css/style.css') %>" />
    <title>Webpack Test</title>
</head>

<body>
    <div id="app"></div>
</body>

</html>


